<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Produtos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/views/css/produtos.css">
    <script src="/views/js/produtos.js"></script>
</head>

<body onload="listar()">
    <header id="header">
        <a id="logo" href="/">ACM</a>
        <nav id="nav">
            <a id="vender" href="/vender">VENDER</a>
        </nav>
    </header>
    <div class="all">
        <div class="line">
            <h3>ESTOQUE DE PRODUTOS</h3>
            <button id="novo" class="btn btn-dark" onclick="window.location.href = '/novo_produto'">Novo
                Produto</button>
            <button id="alt" class="btn btn-dark" onclick="window.location.href = '/alt_produto'">Alterar
                Produto</button>
        </div>
        <br>
        <table id="cadastros" class="table table-hover">
            <tr>
                <th>REF</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Custo</th>
                <th>Preço</th>
            </tr>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>